@use 'mixins/mixin.scss' as *;

@include b(tree){
  display: inline-block;
  width: 100%;
}

@include b(node){
  padding: 5px 0;
  font-size: 16px;
  &:not(.is-disabled){
    .w-node__label{
      cursor: pointer;
      display: flex;
      flex: 1;
    }
  }
  &.is-disabled{
    cursor: not-allowed;
    background-color: #666666;
    display: flex;
    flex: 1;
    .w-node__label{
      cursor: not-allowed;
    }
  }

  &:hover{
    background-color: rgb(195,195,234);
  }

  @include e('expand-icon'){
    display: inline-flex;  // 使用 inline-flex 保持行内特性，同时启用 Flexbox
    align-items: center;   // 垂直居中（替代 vertical-align: middle）
    justify-content: center; // 水平居中（可选，如果图标需要水平居中）
    transform: rotate(0deg);
    transition: transform 0.3s ease-in;
    cursor: pointer;
    &.expanded{
     transform:  rotate(90deg); 
    }
    &.is-leaf{
    fill: transparent;
    cursor: default;
    }
  }

  @include when(selected){
    background-color: rgb(227, 143, 17);
  }
  @include e('content'){
    display: flex;
  }
  @include e('label'){
    cursor: pointer;
    display: flex;
    flex: 1;
  }
}